<%- include('../layouts/header'); -%> 
	<div class="content-wrapper">
<%- include('../layouts/left_sidebar'); -%> 
<main class="main-wrapper clearfix">
	<!-- Page Title Area -->
	<div class="row page-title clearfix">
		<div class="page-title-left">
			<h6 class="page-title-heading mr-0 mr-r-5">Language List</h6>
		</div>
		<!-- /.page-title-left -->
		<div class="page-title-right d-none d-sm-inline-flex">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Language List</li>
			</ol>
		</div>
		<!-- /.page-title-right -->
	</div>
	<!-- /.page-title -->
	<!-- =================================== -->
	<!-- Different data widgets ============ -->
	<!-- =================================== -->
	<div class="widget-list">
		<div class="row">
			<div class="col-md-12 widget-holder">
				<div class="widget-bg">
					<div class="widget-body clearfix">
						<table class="table table-bordered table-responsive" data-toggle="datatables">
							<thead>
								<tr>
									<th>ID</th>
									<th>Label Name</th>
									<th>English</th>
									<th>Gujarati</th>
									<th>Created Date</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>First Label</td>
									<td>Lorem ipsum dolor sit amet.</td>
									<td>aeqsd dqsdq sdaeazeqsdq</td>
									<td>14 May, 2014</td>
									<td>
										<a href="#" class="color-content">
											<i class="material-icons md-18">update</i>
										</a>
										<a href="#" title="Delete" class="color-content">
											<i class="material-icons md-18">delete</i>
										</a>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td>First Label</td>
									<td>Lorem ipsum dolor sit amet.</td>
									<td>aeqsd dqsdq sdaeazeqsdq</td>
									<td>14 May, 2014</td>
									<td>
										<a href="#" class="color-content">
											<i class="material-icons md-18">update</i>
										</a>
										<a href="#" title="Delete" class="color-content">
											<i class="material-icons md-18">delete</i>
										</a>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td>First Label</td>
									<td>Lorem ipsum dolor sit amet.</td>
									<td>aeqsd dqsdq sdaeazeqsdq</td>
									<td>14 May, 2014</td>
									<td>
										<a href="#" class="color-content">
											<i class="material-icons md-18">update</i>
										</a>
										<a href="#" title="Delete" class="color-content">
											<i class="material-icons md-18">delete</i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.widget-list -->
</main>

<%- include('../layouts/right_sidebar'); -%> 
		
	<!-- /.content-wrapper -->
<%- include('../layouts/footer'); -%> 